*{
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
}
.cardEmployeeTest{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    /* box-shadow: -10px 0px -20px 0px rgb(75, 85, 223); */
}